<!DOCTYPE html>
<html>
<head>
  <title>Chess Game</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div id="white-info" class="player-info">
    <h3>White: <span id="white-name">Waiting...</span></h3>
    <div>Time: <span id="white-timer">05:00</span></div>
  </div>
  <div class="chessboard"></div>
  
  <div id="black-info" class="player-info">
    <h3>Black: <span id="black-name">Waiting...</span></h3>
    <div>Time: <span id="black-timer">05:00</span></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chess.js@0.10.3/chess.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/index.js"></script>
</body>
</html>
